header {
  background-color: #9575cd !important;
  margin-top: 50px !important;
  z-index: 0;
}

footer {
  background-color: #d1c4e9 !important;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.bg-dark {
  background-color: #512da8 !important;
}
.card-header {
  background-color: #fcc02f !important;
}
.row-header {
  margin: 0px auto;
  padding: 0px;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  /* background: #9575cd !important; */
  color: floralwhite;
}
.adress {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}
